body{
    /* max-height: auto;
    max-width: auto;
    overflow: scroll; */
   padding: 0;
   margin: 0;
}
.background{
    background:url('/images/forum.jpg');
    background-size: 100%; 
    background-repeat: no-repeat;
    height: 100vh;
    width: auto;
    text-align: center;
    font-size: 26px;
    color: white;
    padding-top: 255px;
    padding-left: 75px;
}


.forum{
    display: flex;  
    background-color: #F4E7E7;
    padding-top: 10px;
    box-shadow: 0px 0px 6px ;
}
#forum-image{
    width:  27%;
    height: 250px;
    display: flex;
    margin-top: 58px;
    flex-direction: row;
    overflow: hidden;
    box-shadow: 0px 0px 6px;
}
.def{
    float: right;
    width: 50%;
    padding: 20px;
    padding-left: 100px;
    padding-right: 50px;
    text-align: left;
    font-size: 20px;
}
h2{
    color: crimson;
}
.safe-spaces,h2{
text-align: center;
}
.space-img1{
    display: flex;
    justify-content: space-between;
    padding-left: 30px;
    margin-top: 60px;
    
}
#img4{
    margin-right: 60px;
}
 /* .space-img1>img{
    border-top: 20px solid pink;
    border-left: 20px solid pink; 
} */
#blank1{
width: 200px;
height: 200px;
margin-top: -230px;
margin-left: 40px;
background-color: #F4E7E7;

}
#blank2{
    width: 200px;
    height: 200px;
    margin-top: -230px;
    margin-left: 40px;
    background-color: #F4E7E7;
}
#blank3{
    width: 200px;
    height: 200px;
    margin-top: -230px;
    margin-left: 40px;
    background-color: #F4E7E7;
}
#blank4{
width: 200px;
height: 200px;
margin-top: -230px;
margin-left: 40px;
background-color: #F4E7E7;
}
   

