

  .banner{
      background-image: url("/images/background.png");
      background-repeat: no-repeat;
      background-size: cover;
      height: 70vh;
      width: 100%;
      color: crimson;
      opacity: 2;

  }
  .banner h3 {
      
      padding-top: 250px;
      padding-left: 100px;
      font-weight: 600;
      font-size: 30px;
      color: white;
  }
  .banner p{
      padding-left: 100px;
      font-weight: 600;
      font-size: 20px;
      color: white;
  }
  .navbar1 a {
    float: right;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
 .popup .overlay {
     position:fixed;
     top: 0px;
     left: 0px;
     width: 100vw;
     height: 500vh;
     background-color: rgb(0, 0, 0, 0.7);
     z-index: 1;
     display: none;
 } 
 .popup5 .overlay5 {
    position:fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background-color: rgb(0, 0, 0, 0.7);
    z-index: 1;
    display: none;
} 
 .popup .content{
     position: absolute;
     top: 110%;
     left: 60%;
      transform: translate(-50%, -50%) scale(0);
      background: crimson;
      width: 200px;
      height: 400px;
      z-index: 2;
      text-align: center;
      padding: 20px;
      box-sizing: border-box;
 } 
 
 .popup5 .content5{
    position: absolute;
    top: 110%;
    left: 60%;
     transform: translate(-50%, -50%) scale(0);
     background: crimson;
     width: 200px;
     height: 370px;
     z-index: 2;
     text-align: center;
     padding: 20px;
     box-sizing: border-box;
} 

   .popup .close-btn{
       position: absolute;
        right: 20px;
        top: 20px;
        width: 30px;
        height: 30px;
        background: #222;
        color: #fff;
        font-size: 25px;
        font-weight:  600;
        line-height: 30px;
        text-align: center;
        border-radius: 50%;
        cursor: pointer;
     

   }
   .popup5 .close-btn5{
    position: absolute;
     right: 20px;
     top: 20px;
     width: 30px;
     height: 30px;
     background: #222;
     color: #fff;
     font-size: 25px;
     font-weight:  600;
     line-height: 30px;
     text-align: center;
     border-radius: 50%;
     cursor: pointer;
  

}

.popup.active .overlay {
    display: block;
}
.popup.active .content{
    transition: all 300ms ease-in-out;
    transform: translate(-50%, -50%);

}

.popup5.active .overlay5 {
    display: block;
}
.popup5.active .content5{
    transition: all 300ms ease-in-out;
    transform: translate(-50%, -50%);

}
.div {
  margin-top: 100px;
  margin-right: 40px;
    
}

.div h2{
 margin-top: -40px;
 margin-left: 60px;

}
.div-2{
    display: flex;
    justify-content: space-evenly;
    margin: 1px 1px 1px 1px;
    
}
.div-3{
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
}

.popupi .overlayi {
  
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background-color: rgb(0, 0, 0, 0.7);
    z-index: 1;
    display: none;
} 
.popupi .contenti{
    position: absolute;
    top: 110%;
    left: 10%;
     transform: translate(-50%, -50%) scale(0);
     background: blue;
     width: 500px;
     height: 370px;
     z-index: 2;
     text-align: right;
     padding: 20px;
     box-sizing: border-box;
}   
.popupi .close-btni{
    position: absolute;
     right: 20px;
     top: 20px;
     width: 30px;
     height: 30px;
     background: #222;
     color: #fff;
     font-size: 25px;
     font-weight:  600;
     line-height: 30px;
     text-align: center;
     border-radius: 50%;
     cursor: pointer;
  

}
.popupi.active .overlayi {
    display: block;
}
.popupi.active .contenti{
    transition: all 300ms ease-in-out;
    transform: translate(-50%, -50%);

}
.popup .inner{
    float: left;
    background-color: white;
    margin-top: -257px;
    width: 300px;
    height: 300px;
    margin-left: -400px;

}
.popup .inner1{
    float: left;
    background-color: white;
    margin-top: -257px;
    width: 300px;
    height: 300px;
    margin-left: -400px;

}
.inner .book{
    margin-top: 40px;
    background-color: crimson;
}
.book{
    margin-top: 70px;
    background-color: crimson;
    height: 30px;
    width: 120px;
    margin-left: 600px;
    margin-bottom: 60px;
}