* {
    overflow-wrap: normal;
}
.mypic {
            width: 100%;
        }
        
        .two {
            width: 25%;
            height: 200px;
            background: #F4E7E7;
            align-items: center;
            float: left;
            margin-left: 300px;
            margin-top: -150px;
            padding-left: 10px;
        }
        
        .one {
            margin-left: 500px;
            font-size: 0px;
        }
        
        h2 {
            text-align: center;
            font-weight: bolder;
            color: #dc143c;
        }
        
        .three {
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 0px;
        }
        
        #onetwo {
            align-items: center;
        }
        
        .h2 h2 {
            text-align: center;
            margin-right: 100px;
            margin-top: 80px;
        }
        
        .four {
            height: 150px;
            background-color: white;
            padding: 5px;
        }
        
        .five {
            height: 150px;
            padding: 5px;
            background-color: white;
        }
        
        .fourfive {
            display: flex;
            justify-content: space-evenly;
            width: 50%;
            height: 200px;
            background-color: bisque;
            padding: 50px;
            margin-left: 100px;
        }
        #empty1 {
            height: 200px;
            width: 18%;
            background-color: #F4E7E7;
        }
        #empty2 {
            height: 200px;
            width: 18%;
            background-color: #F4E7E7;
        }
        #empty3 {
            height: 200px;
            width: 18%;
            background-color: #F4E7E7;
        }
        