body{
    background-image:url("./images/sunset-1807524__480.webp");
    background-size: cover;
    background-repeat: no-repeat;
}
/*header*/
#top-nav {
    display: flex;
} 
.sign-up{
    display: flex;
}
.icons>ul{
    display: flex;
}
.bottom-nav{
    background-color: crimson;
    display: flex;
    height: 100px;
}
.logo-text{
    color: white;
    margin-left: 40px;
}
.top-nav-items>ul{
    display: flex;
    list-style: none;
    color: black;
}
.top-nav-items{
    margin-left: 1000px;
}
.top-nav-items>ul>li{
     padding: 7px;
}
.top-nav-items a{
    display: block;
}
.dropbtn{
    text-decoration: unset;
    background-color: unset;
    border: crimson;
    cursor: pointer;
}
a {
    text-decoration: none;
}
.text1 {
    display: none;
}
.drop:hover .text1{
    cursor: pointer;
    display: block;
}
/*login page contents*/
#bigtext {
    float: left;
    color: crimson;
    font-size: 120px;
    margin-left: 80px;
}
#bigtalk{
    padding-left: 100px;
    color: yellow;
}
.form-box {
    width: 380px;
    height: 480px;
    position: relative;
    margin: auto;
    margin-bottom: 50px;
    margin-top: 150px;
    background: rgba(0,0,0,0.3);
    padding: 10px;
    overflow: hidden;
}
.button-box {
    width: 220px;
    margin: 35px, auto;
    position: relative;
    box-shadow: 0 0 20px 9px #ff6124ff;
    border-radius: 30px;
}
.toggle-btn{
    font-weight: bold;
    font-size: 12px;
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
}
#btn{
    top: 0;
    left: 0;
    position: absolute;
    width: 110px;
    height: 100%;
    background: crimson;
    border-radius: 30px;
    transition: .5s;
}
.input-group-login{
    top: 150px;
    position: absolute;
    width: 280px;
    transition: .5s;
}
.input-group-register {
    top: 120px;
    position: absolute;
    width: 280px;
    transition: .5s;
}
.input-field{
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
}
.submit-btn{
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background:crimson;
    border: 0;
    outline: none;
    border-radius: 30px;
    font-weight: bold;
    font-size: 14px;
}
.check-box{
    margin: 30px 5px 37px 0;
}
form>span{
    color: black;
    font-size: 18px;
    bottom: 68px;
    position: absolute;
}
#bigtext>span{
    margin-left: 70px;
    color: white;
}
p>span{
    color: black;
}
h4>span{
    color: black;
}
#login{
    left: 50px;
}
#login input{
    color: white;
    font-size: 15;
}
#register{
    left: 450px;
}
#register input{
    color: black;
    font-size: 18px;
}
::-webkit-input-placeholder{
    color: black;
    opacity: 1;
    font-size: 14px;
}
/*Footer design*/
/*styles the whole footer body*/
#footer{
    width: 100%;
    padding-top: 50px;
    background-color: crimson;
    display: flex;
    color: white;
}
/*style the easy-talk column of the footer*/
#easy-talk {
    padding-left: 30px;
    text-align: left;
    width: 350px;
    border: 70px;
}
#easy{
    color: black;
}
/*styles the contact text on the footer*/
#find-us {
    margin-left: 250px;
}
/*style the link text on find us*/
#find-us>a{
    display: block;
    padding: 5px;
}
/*style the quick links on the footer*/
#quick-links{
    margin-left: 250px;
}
#quick-links>a{
    display: block;
    padding: 5px;
}
/*style the subscribe section of the footer*/
#newsletter {
    margin-left: 200px;
}
.newsletter {
    color: white;
}
/*style the input field of the subscribe section*/
.input-field{
    padding: 5px;
    border-radius: 7px;
    cursor: pointer;
    width: 90%;
}
#newsletter input{
    font-size: 18px;
    color: black;
}

